<mat-toolbar>
  <mat-toolbar-row *ngIf="deviceXs == 'xs'">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>

  </mat-toolbar-row>

  <mat-toolbar-row *ngIf="deviceXs !== 'xs'">
    <button mat-button>
      <mat-icon>home</mat-icon>
    </button>
    <button mat-button>
      Films
    </button>
    <button mat-button>
      Divers
    </button>
    <button mat-button>
      Bonus
    </button>

  </mat-toolbar-row>
</mat-toolbar>
