<mat-toolbar>
  <mat-toolbar-row *ngIf="deviceXs == 'xs'">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon><a [routerLink]="['/movies']" routerLinkActive="router-link-active">movie</a></mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon> <a [routerLink]="['/music']" routerLinkActive="router-link-active">library_music</a>
      </mat-icon>
      <mat-icon>settings</mat-icon>
    </button>

  </mat-toolbar-row>

  <mat-toolbar-row *ngIf="deviceXs !== 'xs'">
    <button mat-button>
      <a [routerLink]="['/home']">Accueil</a>
    </button>
    <button mat-button>
      <a [routerLink]="['/movies']" routerLinkActive="router-link-active">Films</a>
    </button>
    <button mat-button>
      <a [routerLink]="['/music']" routerLinkActive="router-link-active">Musique</a>
    </button>
    <button mat-button>
      <a href="">Bonus</a>
    </button>

  </mat-toolbar-row>
</mat-toolbar>
