<mat-toolbar>

<mat-toolbar-row *ngIf="deviceXs">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
   <mat-icon>menu</mat-icon>
 </button>
 <span>Valestim</span>
 <span class="example-spacer"></span>
 <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
   <mat-icon>favorite</mat-icon>
 </button>
 <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
  <mat-icon>share</mat-icon>
</button>
</mat-toolbar-row>

<mat-toolbar-row *ngIf="!deviceXs">
  <button mat-button>
   <mat-icon>home</mat-icon>
 </button>
 <span>Valestim</span>
 <button mat-button>
  Menu1
</button>
<button mat-button>
  Menu2
</button>
<button mat-button>
  Menu3
</button>
</mat-toolbar-row>

</mat-toolbar>

