<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.col" [rowspan]="tile.row" [style.background]="tile.color">
    <a [routerLink]="tile.link" routerLinkActive="router-link-active">{{tile.text}}</a>

  </mat-grid-tile>
  <!-- <mat-grid-tile class="tile1"><a [routerLink]="['/movies']" routerLinkActive="router-link-active" >Liste Films TMDB</a></mat-grid-tile>
  <mat-grid-tile class="tile2"><a [routerLink]="['/music']" routerLinkActive="router-link-active" >Liste Albums</a></mat-grid-tile>
  <mat-grid-tile class="tile3">Menu 3</mat-grid-tile>
  <mat-grid-tile class="tile4">Menu 4</mat-grid-tile> -->
</mat-grid-list>
