
.tile1 {
  background: var(--bluesky-color);
}
.tile2 {
  background: var(--darkviolet-color);
}
.tile3 {
  background: var(--candy-color);
}
.tile4 {
  background: var(--pistachio-color);
}
.wrapper-grid{
  background-color: white;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  }
